
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    padding-left: 12px
}

#loginlogo, #mainlogo {
    align-content: center;
    margin: 10px auto 25px auto
}




