{% extends "template.html" %}

{% block title %}
    Log In and Register
{% endblock %}


{% block main %}

<div>
    <img src="/static/goodreadsimg.png" id="mainlogo">  
</div>

<div class="container">
    <div id="50_50L" class="col-lg-6">
        <form action="/login">
            <legend>Log In</legend>
            <div class="form-group row">
              <label for="inputUserName3" class="col-sm-3 col-form-label">UserName</label>
              <div class="col-sm-8">
                <input type="text" required class="form-control" id="inputUserName3" placeholder="Username" name="LI_uname">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-8">
                <input type="password" required class="form-control" id="inputPassword3" placeholder="Password" name="LI_pword">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Sign in</button>
              </div>
            </div>
          </form>

    </div>
    <div id="50_50R" class="col-lg-6">
        <form action="/register">
            <legend>Register</legend>
            <div class="form-group row">
                <label for="inputUserName3" class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="inputUserName3" placeholder="Username" name="R_uname">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="R_pword1">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPasswordConf3" class="col-sm-3 col-form-label">Password Confirm</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="inputPasswordConf3" placeholder="Password confirmation" name="R_pword2">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}